{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<h2>{% trans "Users" %}</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Fullname" %}</th>
      <th>{% trans "Date of creation" %}</th>
      <th></th>
    </tr>
  </thead>
  {% for user in object_list %}
  <tbody>
    <tr>
      <th>{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.date_joined }}</td>
        <td>
          <a href="{% url 'user_update' user.id %}">{% trans "Edit" %}</a>
          <br>
          <a href="{% url 'user_delete' user.id %}">{% trans "Delete" %}</a>
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
