{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% trans 'Task Manager' %}</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}

  </head>
  <body>

  {% include 'navbar.html' %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% bootstrap_javascript %}

  </body>
</html>
