{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

{% if messages %}
<div class="container mt-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<h1>{% trans "Login" %}</h1>
<form method="post">
    <div class="mb-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit">{% trans "Login As User" %}</button>
    </div>
</form>
{% endblock %}
